---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title = "Portfolio">

  <section class="w-full mx-auto lg:w-[740px] py-44">

    <h1 class="text-white text-5xl font-bold flex flex-row gap-x-3 pb-10">
      Hola, Soy Ignacio Molina 
      <a 
        href="https://www.linkedin.com/in/ignacio-ezequiel-molina-granda-2a2aa6272/" 
        target="_blank" 
        rel="noopener" 
        class="flex justify-center items-center "
      >
          <Badge>Disponible para Trabajar</Badge>
      </a> 
    </h1>
    <h2 class="text-2xl opacity-75">
      Desarrollador Web y Back-End 🔧 | Autodidacta con proyectos 100% prácticos | De Mendoza, Argentina 🇦🇷
    </h2>

  </section>
 
</Layout>
