---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: "Junio 2025 - Presente",
    title: "Sitio Web para Empresa de Montañismo",
    description:
      "Desarrollo de una aplicación web moderna, adaptable y profesional para una empresa dedicada al montañismo y actividades de aventura. El proyecto incluye secciones informativas, galería de imágenes, agenda de salidas y un canal de contacto. Programado con Astro, JavaScript, TypeScript y Tailwind CSS.",
    link: "https://gastonmolinaguide.netlify.app",
  },


  {
    date: "Próximo destino profesional",
    title: "En búsqueda de experiencia en empresa",
    description: "¿Quieres ser el siguiente en mi lista de proyectos destacados? Estoy buscando oportunidades para aplicar mis habilidades y crecer junto a un equipo sólido.",
    // link: "#contacto",
    // tagline: "Disponible para colaboraciones inmediatas"
  }

];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 justify-center">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
