<footer class="bg-gray-900 rounded-lg shadow-sm m-4">
  <div class="mt-auto w-full max-w-screen-xl mx-auto px-4 py-6 text-center text-yellow-200/85 text-sm">
    Hecho en <strong>Astro</strong> por 
    <a
      href="https://github.com/Ignacio-Molina-0804"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline hover:text-yellow-300 transition-colors duration-200"
    >
      Ignacio Molina
    </a>.
  </div>
</footer>
