

<footer class="rounded-lg shadow-sm bg-gray-900 m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <span class="block text-sm sm:text-center text-yellow-200/85">© <a href="https://flowbite.com/" class="hover:underline">Ignacio Molina</a>. All Rights Reserved.</span>
    </div>
</footer>

