<header class="flex justify-center items-center w-[1040px] mt-24 mx-auto">
    <nav class="flex flex-row gap-x-10">
        <a class="hover:text-blue-200" href="#top">Inicio</a>
        <a class="hover:text-blue-200" href="#experiencia">Experiencia</a>
        <a class="hover:text-blue-200" href="#proyectos">Proyectos</a>
        <a class="hover:text-blue-200" href="#sobre-mi">Sobre Mi</a>
        <a class="hover:text-blue-200" href="#contacto">Contacto</a>
    </nav>
</header>